.content {
	line-height: 1.7;
}
.content p {
	margin-bottom: 1em;
}
.content p:last-child {
	margin-bottom: 0;
}
.content ol {
	padding-left:3em;
}
.content ul li {
	list-style: none;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCI+PHBhdGggZmlsbD0iI2YyNjUyMiIgZD0iTTYuMTM0IDguMjkzbC0uNzMyLjY5Ny0uNzMyLS42OTcuMDAzLS4wMDNMLjAxIDMuODA0bC43My0uNjk4TDUuNCA3LjU4OCAxMy4yNi4wMTNsLjczMi42OTctNy44NiA3LjU4LjAwNC4wMDN6Ii8+PC9zdmc+) 7px 7px no-repeat;
	padding-left: 33px;
}
.content ol li {
	list-style:decimal inside;
}

.content table {
	width: 100%;
	margin: 1em 0;
}
.content td,
.content th {
	padding: 10px 5px;
	border: 1px solid #ccc;
}

.content h1 {
	margin-bottom: 40px;
	font-size: 24px;
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
	padding: 0 25px;
	text-align: center;
}
.content h1:after {
	content: '';
	display: block;
	width: 60px;
	border-bottom: 2px solid #f26522;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin-left: -30px;
}

.content h2,
.content h3 {
	margin: 30px 0;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.content h2 {
	text-align: center;
}
.content h2:first-child,
.content h3:first-child {
	margin-top: 0;
}
.content h4 {
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 16px;
}
.content iframe {
	max-width: 100%;
}