input, textarea, button, select {
	font-family:inherit;
	font-size:inherit;
}
::placeholder {
	color: #bfbfbf;
	font-size: 13px;
}

.search ::placeholder {
	color:#7f7f7f;
	font-size:1em;
	font-style: italic;
}

.form {
}
.form__row {
	margin-bottom:20px;
	text-align: left;
}
.form__row:last-child {
	margin-bottom: 0;
}
.form__row_submit {
	text-align:right;
}
.form__label {
	display:block;
	margin-bottom: 6px;
}
.form__required {
	font-weight:bold;
	margin-left:5px;
}
.form__input,
.form__textarea,
.form__select {
	border: 1px solid #bbbbbf;
	background-color: #fff;
	padding: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	width: 100%;
	display:inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 15px;
}
.form__input_short {
	width: 100px;
}
.form__textarea {
	line-height: 1.4;
	height: auto;
}
.form__button {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	background-color: #fff;
	border: 2px solid #f4ae8f;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding:0 19px;
	vertical-align: middle;
	font-weight: bold;
}
.form__button_submit,
.form__button:hover {
	background-color: #f4ae8f;
	color: #fff;
}
.form__button_wide {
	width: 100%;
}

.form__select {
	overflow: hidden;
	position: relative;
	/*width: auto;*/
}
.form__select:before {
	display: block;
	content: "";
	position: absolute;
	right: 15px;
	top: 18px;
	width: 7px;
	height: 4px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAQAAADoz+32AAAAMUlEQVR4AWNgWMngxAABTkA2gynDUwZvIMcHSJuBRHUZHjJMBGJdBihQYzjMoA5iAAAJgwhgW9/rHQAAAABJRU5ErkJggg==) 0 0 no-repeat;
}

.form__select select,
.form__select input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	height: 38px;
	line-height: 38px;
	padding:0 28px 0 8px;
	border: 0 none;
	background-color: transparent;
	width: 100%;
	position: relative;
	z-index: 1;
}
@media screen and (min-width:0\0) {
	.form__select select {
		width: 130%;
	}
}
.form__subscribe-box {
	width: 50%;
	float: left;
	text-align: left;
}

.warnText {
	color:#c1003f;
	font-size:18px;
	margin:1em 0;
}

.form_inline {

}
.form_inline .form__row {
	float: left;
	margin: 0 25px 0 0;
}
.form_inline .form__label {
	float: left;
	margin: 0 15px 0 0;
	line-height: 1.4;
	padding-top: 11px;
	vertical-align: middle;
}
.form_inline .form__input,
.form_inline .form__select {
	float: left;
}

.form__input[required],
.form__textarea[required],
.form__select[required],
.form__input_required,
.form__textarea_required,
.form__select_required {
	border-left: 3px solid #f4ae8f;
}

.form__row_inline .form__label {
	float: left;
	width: 24%;
	margin-right: 2%;
	padding-top: 11px;
}
.form__row_inline .form__inputbox {
	float: left;
	width: 74%;
}

/* Стилизованное поле .form__file */
.file {
	position: relative;
	width: 100%;
	height: 40px;
	padding-right: 105px;
}
.file * {
	cursor: pointer;
}
.file__value {
	overflow: hidden;
}
.file__button {
	padding: 0 15px;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
}
.file:hover .file__button {
	background-color: #f4ae8f;
	color: #fff;
}
.file__file {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	overflow: hidden;
	opacity: 0;
}
.file__file input {
	width: 100%;
	font-size: 80px;
}

/*
.form__step {
	display: none;
}
.form__step_1 {
	display: block;
}
*/

.form_tabletop-material {
	width: 260px;
}
.form_tabletop-material2 {
	width: 350px;
}
.form__header {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
}
.form__select_material {
	color: #bfbfbf;
	font-size: 13px;
}

.form_auth {
	max-width: 400px;
	margin: auto;
}
.fancybox-inner .form_auth,
.fancybox-inner .form_zvonok,
.fancybox-inner .form_zayavka {
	padding: 48px 48px 30px;
}